<tr id="<%= dom_id movie %>">
  <td class="<%= 'sorted ' + (session[:sort_column] == 'title' ? 'sorted-' + session[:sort_direction] : '') %>">
    <%= link_to movie.title, movie %>
  </td>

  <td class="<%= 'sorted ' + (session[:sort_column] == 'rating' ? 'sorted-' + session[:sort_direction] : '') %>">
    <%= movie.rating %>
  </td>

  <td class="<%= 'sorted ' + (session[:sort_column] == 'release_date' ? 'sorted-' + session[:sort_direction] : '') %>">
    <%= movie.release_date %>
  </td>
</tr>
