<p class="notice-message"><%= notice %></p>

<%= render @movie %>

<div class="action-links">
  <%= link_to "Edit this movie", edit_movie_path(@movie), class: "edit-btn" %> |
  <%= link_to "Back to movies", movies_path, class: "back-to-movies-btn" %> |

  <%= button_to "Destroy this movie", @movie, method: :delete, class: "delete-btn", data: { confirm: "Are you sure?" } %>
</div>
